h2 {
    color: white;
}

.responsive-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    gap: 24px;
    padding: 24px;
}

.btn-new {
    margin: 24px;
    margin-bottom: 0;
}

form {
    margin: 24px;

    mat-form-field {
        width: 100%;
    }

    button.btn-form {
        margin-right: 10px;
    }
}

.card-actions {
    margin-top: -50px;
    position: absolute;
    right: 10px;
}

.card-item {
    position: relative;

    button {
        margin-left: 10px;
    }
}
